<div class="row">
    <div class="col-xl-3 col-sm-6 mb-3" *ngFor="let video of videoData">
      <div class="video-card">
        <div class="video-card-image">
          <a class="play-icon">
            <fa-icon [icon]="['fas', 'play-circle']" />
          </a>
          <a><img class="img-fluid" [src]="'/assets/img/' + video.thumbfilename" alt="" /></a>
          <div class="time text-white">{{ video.videoduration }}</div>
        </div>
        <div class="video-card-body cursor" (click)="openDetailPage(video.id)">
          <div class="video-title">
            <a >{{ video.postdescription }}</a>
          </div>
          <div class="video-page text-success">
            {{ video.albumname }}
          </div>
          <div class="video-view">
            {{ video.viewcount }} &nbsp;
            <fa-icon [icon]="['fas', 'calendar']" [fixedWidth]="true" />
            {{ video.postcreationdate }}
          </div>
        </div>
      </div>
    </div>
</div>