.video-card-image {
  height: 220px;
}

.video-title {
  margin-bottom: 5px;
  height: 46px;
  overflow: hidden;
  font-weight: 600;
  text-overflow: ellipsis;
}
.c-description-height {
  height: 45px;
  // height: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}
.c-height {
  height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
}
