<div class="row">
  <ng-container *ngIf="videoData.length">
    <div class="col-xl-3 col-sm-6 mb-3" *ngFor="let video of videoData">
      <div class="video-card" *ngIf="videoData">
        <div class="video-card-image">
          <a class="play-icon">
            <fa-icon [icon]="['fas', 'play-circle']" />
          </a>
          <a
            ><img
              class="img-fluid"
              [src]="'/assets/img/' + video.thumbfilename"
              alt=""
          /></a>
          <!-- <div class="time text-white">{{ video.videoduration }}</div> -->
          <div class="time text-white">
            <fa-icon [icon]="['fas', 'clock']" [fixedWidth]="true" />
            {{ +video.videoduration | timeDurationWithSec }}
          </div>
        </div>
        <div class="video-card-body cursor" (click)="openDetailPage(video)">
          <div class="video-title">
            <a>{{ video.postdescription }}</a>
          </div>
          <div class="video-page text-success">
            {{ video.albumname }}
          </div>
          <div class="video-view">
            <fa-icon [icon]="['fas', 'eye']" [fixedWidth]="true" />
            {{ video.viewcount }} &nbsp;
            <fa-icon [icon]="['fas', 'calendar']" [fixedWidth]="true" />
            {{ video.postcreationdate | date }}
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!videoData.length">
    <div class="col-12 text-center">
      <h6>No data available</h6>
    </div>
  </ng-container>
</div>
