<nav class="navbar navbar-expand navbar-light bg-white osahan-nav fixed-top">
  <button
    class="btn btn-link btn-sm text-secondary order-1 order-sm-0 ms-1"
    (click)="toggleSidebar()"
  >
    <fa-icon [icon]="['fas', 'bars']" [fixedWidth]="true" />
  </button>
  <a class="navbar-brand ms-2 me-1" routerLink="/home"
    ><img
      class="img-fluid h-40-px rounded"
      alt=""
      src="\assets\FreedomTube-logo.png"
  /></a>
  <!-- Navbar Search -->
  <form
    class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-5 my-2 my-md-0 osahan-navbar-search"
  >
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for..." />
      <div class="input-group-append">
        <button class="btn btn-light" type="button">
          <fa-icon [icon]="['fas', 'search']" [fixedWidth]="true" />
        </button>
      </div>
    </div>
  </form>
  <!-- Navbar -->
  <ul class="navbar-nav ms-auto ms-md-0 osahan-right-navbar">
    <li class="nav-item mx-1">
      <a class="nav-link" routerLink="/upload">
        <fa-icon [icon]="['fas', 'plus-circle']" [fixedWidth]="true" />
        <!-- <i class="fas fa-plus-circle fa-fw"></i> -->
        Upload Video
      </a>
    </li>
    <!-- <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle"  id="alertsDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <span class="badge badge-danger">9+</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
        <a class="dropdown-item" ><i class="fas fa-fw fa-edit "></i> &nbsp; Action</a>
        <a class="dropdown-item" ><i class="fas fa-fw fa-headphones-alt "></i> &nbsp; Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" ><i class="fas fa-fw fa-star "></i> &nbsp; Something else here</a>
      </div>
    </li>
    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle"  id="messagesDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-envelope fa-fw"></i>
        <span class="badge badge-success">7</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
        <a class="dropdown-item" ><i class="fas fa-fw fa-edit "></i> &nbsp; Action</a>
        <a class="dropdown-item" ><i class="fas fa-fw fa-headphones-alt "></i> &nbsp; Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" ><i class="fas fa-fw fa-star "></i> &nbsp; Something else here</a>
      </div>
    </li> -->
    <li class="nav-item dropdown no-arrow osahan-right-navbar-user">
      <div
        ngbDropdown
        class="d-inline-block btn-group float-end right-action w-160-px"
      >
        <a
          class="nav-link user-dropdown-link"
          id="userDropdown"
          role="button"
          ngbDropdownToggle
        >
          <img alt="Avatar" [src]="authService.userDetails?.ProfilePicName" />
          {{ authService.userDetails.Username }}
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </a>
        <div ngbDropdownMenu aria-labelledby="userDropdown">
          <button ngbDropdownItem routerLink="/account">
            <fa-icon [icon]="['fas', 'user-circle']" [fixedWidth]="true" />
            &nbsp; My Account
          </button>
          <!-- <button ngbDropdownItem>
            <fa-icon [icon]="['fas', 'video']" [fixedWidth]="true" />
            &nbsp; Subscriptions
          </button> -->
          <button ngbDropdownItem routerLink="/settings">
            <fa-icon [icon]="['fas', 'cog']" [fixedWidth]="true" />
            &nbsp; Settings
          </button>
          <button ngbDropdownItem>
            <div class="d-flex gap-1 align-items-center">
              <fa-icon [icon]="['fas', 'sun']" [fixedWidth]="true" />

              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="button"
                  [checked]="shareService.isDarkTheme"
                  (change)="shareService.toggleTheme()"
                />
              </div>

              <fa-icon [icon]="['fas', 'moon']" [fixedWidth]="true" />
            </div>
          </button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem (click)="logout()">
            <fa-icon [icon]="['fas', 'sign-out-alt']" [fixedWidth]="true" />&nbsp; Logout</button>
        </div>
      </div>
    </li>
  </ul>
</nav>
