<div class="jumbotron bg-white mb-0 mx-4 pt-4 videos-section pb-4 rounded mb-4 shadow">
  <div>
    <div class="col-12 col-md-12 col-lg-8 m-auto token-img-modal token-hide-mb">
      <img src="\assets\img\localFoodslogo.png" class="w-100" alt="" />
    </div>
    <div class="d-flex c-bg-color py-2 column-gap-2 column-gap-xxl-4 col-12 col-md-12 col-lg-8 m-auto my-2 my-xxl-4 justify-content-center mb-view-left-txt">
      <div routerLink="/channels">
        <fa-icon [icon]="['fas', 'user']" [fixedWidth]="true" />
        My Channel
      </div>
      <!-- <div>
        <fa-icon [icon]="['fas', 'plus-square']" [fixedWidth]="true" />
        Create Channel
      </div> -->
      <div routerLink="/history-page">
        <fa-icon [icon]="['fas', 'upload']" [fixedWidth]="true" />
        Upload
      </div>
      <div 
          class="d-flex gap-2 align-items-center"
          ngbTooltip="Comming Soon!"
          placement="bottom">
        <fa-icon [icon]="['fas', 'plus-square']" [fixedWidth]="true" />
        Conference & Record
      </div>
    </div>
  </div>
</div>
