<div class="row">
  <div class="col-lg-12">
    <div class="main-title">
      <h6>Upload Details</h6>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="imgplace"></div>
    <div>
       <!-- <video id="playerVideo" width="450" autoplay="autoplay" height="338"
       src="{{ postData?.streamname }}">
      </video> -->
    </div>
  </div>
  <div class="col-lg-10">
    <div class="osahan-title">{{ videoTitle }}</div>
    <div class="osahan-size">{{ videoSize }} . {{ videoDuration }}</div>
    <div class="osahan-progress">
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          [style.width]="uploadProgress + '%'"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <div class="osahan-close">
        <a><i class="fas fa-times-circle"></i></a>
      </div>
    </div>
    <div class="osahan-desc">{{ uploadStatus }}</div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-lg-12">
    <div class="osahan-form">
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <label for="e1">Video Title</label>
            <input
              type="text"
              placeholder="Contrary to popular belief, Lorem Ipsum (2020) is not."
              id="e1"
              class="form-control"
              [(ngModel)]="videoTitle"
            />
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <label for="e2">About</label>
            <textarea
              rows="3"
              id="e2"
              name="e2"
              class="form-control"
              [(ngModel)]="postdescription"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="osahan-area text-center mt-5">
      <button class="btn btn-outline-primary" (click)="onSaveClick()">
        Save Changes
      </button>
    </div>
    <hr />
    <div class="terms text-center">
      <p class="mb-0">
        There are many variations of passages of Lorem Ipsum available, but the
        majority
        <a>Terms of Service</a> and <a>Community Guidelines</a>.
      </p>
      <p class="hidden-xs mb-0">
        Ipsum is therefore always free from repetition, injected humour, or non
      </p>
    </div>
  </div>
</div>
