<div class="single-channel-image">
  <img class="img-fluid" alt="" src="/assets/img/channel-banner.png" />
  <div class="channel-profile">
    <img class="channel-profile-img" alt="" src="/assets/img/s2.png" />
  </div>
</div>
<div class="single-channel-nav">
  <nav class="navbar navbar-expand-lg navbar-light w-100">
    <a class="channel-brand"
      >Freedom Channel
      <span
        title=""
        data-placement="top"
        data-toggle="tooltip"
        data-original-title="Verified"
        ><i class="fas fa-check-circle text-success"></i></span
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav w-100 mr-auto">
        <li class="nav-item active">
          <a class="nav-link"
            >Videos <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link">Playlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Channels</a>
        </li>
      </ul>
      <form class="d-flex form-inline my-2 my-lg-0">
        <input
          class="form-control form-control-sm mr-sm-1"
          type="search"
          placeholder="Search"
          aria-label="Search"
        /><button
          class="btn btn-outline-success btn-sm my-2 my-sm-0"
          type="submit"
        >
          <i class="fas fa-search"></i>
        </button>
        &nbsp;&nbsp;&nbsp;
        <button class="btn btn-outline-danger btn-sm" type="button">
          Subscribe
        </button>
      </form>
    </div>
  </nav>
</div>

<div class="video-block section-padding">
  <div class="row">
    <div class="col-md-12">
      <div class="main-title">
        <h6>Videos</h6>
        <app-video-card />
      </div>
    </div>
  </div>
</div>
