<div class="row">
  <div class="col-xl-3 col-sm-6 mb-3" *ngFor="let channel of channels">
    <div class="channels-card">
      <div class="channels-card-image">
        <a
          ><img class="img-fluid" [src]="'/assets/img/' + channel.image" alt=""
        /></a>
        <div class="channels-card-image-btn">
          <button type="button" class="btn btn-outline-danger btn-sm">
            Subscribe <strong>{{ channel.subscriptionCount }}</strong>
          </button>
        </div>
      </div>
      <div class="channels-card-body cursor" (click)="openChannelDetailPage(channel.id)">
        <div class="channels-title">
          <a>{{ channel.name }}</a>
        </div>
        <div class="channels-view">
          {{ channel.subscribers }}
        </div>
      </div>
    </div>
  </div>
</div>
