<div
  #tagInputDiv
  contenteditable
  [attr.placeholder]="placeholder"
  class="tag-input-div input-area c-text form-control"
  (keyup)="messageOnKeyEvent()"
></div>

<div #userSearchDropdownRef ngbDropdown>
  <div ngbDropdownMenu class="user-dropdown-menu w-100 overflow-auto">
    <ng-container *ngFor="let user of userList">
      <div
        ngbDropdownItem
        class="d-flex gap-3 pe-auto overflow-hidden"
        role="button"
        (click)="selectTagUser(user)"
      >
        <img
          loading="lazy"
          class="w-32-px h-32-px rounded"
          data-src="{{ user.ProfilePicName }}"
          [alt]="user.Username"
          onerror="this.onerror=null;this.src='/assets/img/placeholder-user.png';"
        />
        <span>{{ user.Username }}</span>
      </div>
    </ng-container>
  </div>
</div>

<ng-container *ngIf="isShowMetaPreview && metaData?.metaimage">
  <!-- <app-post-meta-data-card [post]="metaData" class="pt-5" /> -->
</ng-container>
