:host {
  display: flex;
  flex-direction: column;
  width: 100%;

  .tag-input-div {
    font-size: 16px;
    min-height: 56px;
    line-break: anywhere;
    text-align: start;

    &[placeholder]:empty {
      &:before {
        content: attr(placeholder);
        color: #697495;
      }
      &:focus {
        &:before {
          content: "";
        }
      }
    }

    .user-dropdown-menu {
      max-height: 300px;
    }
  }
}
