<ul class="sidebar navbar-nav" [ngClass]="{'toggled': !shareService.isSidebarOpen}">
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/home">
      <fa-icon [icon]="['fas', 'home']" [fixedWidth]="true" />
      <span>Home</span>
    </a>
  </li>

  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/channels">
      <fa-icon [icon]="['fas', 'users']" [fixedWidth]="true" />
      <span>Channels</span>
    </a>
  </li>

  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/single-channel">
      <fa-icon [icon]="['fas', 'user']" [fixedWidth]="true" />
      <span>Single Channel</span>
    </a>
  </li>

  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/video">
      <fa-icon [icon]="['fas', 'video']" [fixedWidth]="true" />
      <span>Video Page</span>
    </a>
  </li>

  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/upload-video">
      <fa-icon [icon]="['fas', 'cloud-upload']" [fixedWidth]="true" />
      <span>Upload Video</span>
    </a>
  </li>

  <li class="nav-item channel-sidebar-list">
    <h6>SUBSCRIPTIONS</h6>
    <ul>
      <li>
        <a href="subscriptions.html">
          <img class="img-fluid" alt="" src="assets/img/s1.png"> Your Life
        </a>
      </li>
      <li>
        <a href="subscriptions.html">
          <img class="img-fluid" alt="" src="assets/img/s2.png"> Unboxing <span class="badge badge-warning">2</span>
        </a>
      </li>
      <li>
        <a href="subscriptions.html">
          <img class="img-fluid" alt="" src="assets/img/s3.png"> Product / Service
        </a>
      </li>
      <li>
        <a href="subscriptions.html">
          <img class="img-fluid" alt="" src="assets/img/s4.png"> Gaming
        </a>
      </li>
    </ul>
  </li>
</ul>
