<ul class="sidebar navbar-nav" [ngClass]="{'toggled': !shareService.isSidebarOpen}">
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/home">
      <fa-icon [icon]="['fas', 'home']" [fixedWidth]="true" />
      <span>Home</span>
    </a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/channels">
      <fa-icon [icon]="['fas', 'user']" [fixedWidth]="true" />
      <span>My Channel</span>
    </a>
  </li>

  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/history-page">
    <fa-icon [icon]="['fas', 'history']" [fixedWidth]="true" />
    <span>History Page</span>
    </a>
 </li>

  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/upload-video">
      <fa-icon [icon]="['fas', 'cloud-upload']" [fixedWidth]="true" />
      <span>Upload Video</span>
    </a>
  </li>

  <li class="nav-item channel-sidebar-list">
    <h6>Featured Channels</h6>
    <ul>
      <li *ngFor="let channel of featuredChannels">
        <a [routerLink]="['/channel', channel.id]">
          <img class="img-fluid" [src]="'/assets/img/' + channel.logo" alt="">
          {{ channel.name }}
        </a>
      </li>      
    </ul>
  </li>
</ul>
